.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icon {
  min-width: 22px;
  min-height: 25px;
  padding: 13px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  justify-content: center;
}

.icon:hover {
  min-width: 22px;
  min-height: 25px;
  padding: 13px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  justify-content: center;
  transform: scale(1.2);
}
